@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Intrepid";
  src: url("./assets/fonts/Intrepid.ttf");
}
@font-face {
  font-family: "NeueMontreal-Regular";
  src: url("./assets/fonts/NeueMontreal-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal-Medium";
  src: url("./assets/fonts/NeueMontreal-Medium.otf");
  font-weight: medium;
}
@font-face {
  font-family: "NeueMontreal-Bold";
  src: url("./assets/fonts/NeueMontreal-Bold.otf");
  font-weight: bold;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

body {
  background: #f6f1eb;
}
